<form role="form">
  <div class="form-group">
    <label for="title" class="control-label">Username</label>
    <input ng-model="user.userName" class="form-control" id="title" placeholder="Enter the movie title" type="text">
  </div>
  <div class="form-group">
    <label for="title" class="control-label">Role</label>
    <input ng-model="user.role" class="form-control" id="title" placeholder="Enter the YouTube URL" type="text">
  </div>
  <div class="form-group">
    <label for="title" class="control-label">Email</label>
    <input ng-model="user.email" class="form-control" id="title" placeholder="Enter the YouTube URL" type="text">
  </div>
  <input class="btn btn-primary" ng-click="saveUser()" value="Save" type="submit">
</form>
