<a class="btn btn-primary" href="/#/create/deployment"><span class="glyphicon glyphicon-plus"></span> Create Deployment</a>
<br>
<table class="table table-striped">
  <thead>
    <th>appName</th>
    <th>URL</th>
  </thead>
  <tbody>
    <tr ng-repeat="deployment in deployments">
      <td><a ng-href="/#/deployment/{{ deployment._id}}">{{ deployment.appName}}</a></td>
      <td>{{ deployment.url }}</td>
      <td>
        <div class="button-group">
          <a ng-href="/#/deployment/{{ deployment._id }}/edit" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a ng-href="/#/deployment/{{ deployment._id }}/delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </div>
      </td>
    </tr>
  <tbody>
</table>
