<div class="jumbotron">
  <h1>Welcome to CICD4GBNT!</h1>
  <p class="lead">
    <img src="images/cicd_ninjito.png" alt="I'm Napping!"><br>
    Let's deploy your application!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/deployments">Deploy!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>What does CICD4GBNT do?</h4>
  <p>
    CICD4GBNT is a one stop shop dashboard to allow you to quickly & easily deploy your applications to any enivronment!
  </p>
</div>
